<div class="card">
	<div class="card-header d-flex justify-content-between">
		<div class="header-title">
			<h4 class="card-title">
                <i class="{$current_page.nav_icon}"></i>
                <span>{$current_page.nav_title}</span>
            </h4>
		</div>
        <!-- <div class="d-flex align-items-center">
            <div class="btn-group" role="group">
                {if $allowed.create}
                    <a class="btn btn-md btn-outline-primary" href="{site_url([$current_page.nav_url, 'add'])}"><i class="fa-solid fa-circle-plus"></i> Tambah</a>
                {/if}
            </div>
          </div> -->
	</div>
	<div class="card-body">
        <div class="table-responsive text-center">
            <table id="datatable" class="table data-tables table-striped">
                <thead>
                    <tr class="light">
                        <th>No</th>
                        <th>User Kode</th>
                        <th>Username</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {$no = 1}
                    {foreach from=$members key=key item=member}
                     {if $member.user_code != '2010001'} 
                    <tr>
                        <td align="center">{$no++}</td>
                        <td>{$member.user_code}</td>
                        <td>{$member.user_name}</td>
                        <td>{$member.fullname}</td>
                        <td>{$member.user_email}</td>
                       
                        <td align="center">
                            <a class="btn btn-sm btn-outline-info rounded" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="{site_url([$current_page.nav_url, 'detail', {$member.user_id}])}"><i class="fa-regular fa-file"></i></a>
                            {if $allowed.edit}
                                <a class="btn btn-sm btn-outline-secondary rounded" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="{site_url([$current_page.nav_url, 'edit'])}?id={$member.user_id}"><i class="fa-regular fa-pen-to-square"></i></a>
                            {/if}
                            {if $allowed.delete}
                            <a class="btn btn-sm btn-outline-danger rounded" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="{site_url([$current_page.nav_url, 'delete', {$member.user_id}])}"><i class="fa-solid fa-trash"></i></a>
                            {/if}
                        </td>
                        {/if}
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
