<main>
    <div class="container" style="margin-top: 150px;margin-bottom: 150px;">
        <div class="row">

            <div class="col-md-6 text-center">
                <img src="{$BASEURL}/resource/assets-frontend/dist/logo/LOGO KENES PNG.png" alt="Logo"
                    style="width: 350px; height: auto; margin-left: -10px;">
            </div>

            <style>
                @media (max-width: 768px) {
                    .col-md-6 {
                        text-align: left;
                        /* Menggeser gambar ke kiri pada layar ponsel */
                    }

                    .col-md-6 img {
                        max-width: 100%;
                        /* Membuat gambar responsif */
                        margin-left: 0;
                        /* Menghapus margin kiri */
                    }
                }
            </style>
            <div class="col-md-5">
                <h2 class="fw-bold" style="margin-bottom: -20px; color: #1d1b19; font-size: 20px; letter-spacing: 0;">Masukkan Kata Sandi Baru Anda</h2>
                <br>
                <h5></h5>

                <div class="p-2" style="margin-top: 40px; margin-right: 10px; margin-left: 10px;">

                    <div class="card-body">

                        <form method="POST" action="{$BASEURL}/confirmation_password"  enctype="multipart/form-data">
                            {include file="base/templates/notification.html"}
                            <input type="hidden" name="token" value="{$token}">
                            <input type="hidden" name="email" value="{$email}">
                            <div class="">
                                <label for="password1">Kata sandi baru</label>
                                <input type="password" id="password1" class="form-control" value="" name="user_pass1" 
                                placeholder="Enter new password..." required>
                                <div class="p-2">
                                <label for="password">Konfirmasi kata sandi baru</label>
                                <input type="password" id="password" class="form-control" value="" name="user_pass2" 
                                placeholder="Repeat password..." required>
                                <div class="p-2">
                            </div>

                            <div class="d-grid gap-2 col-6 mx-auto mt-3">
                                <button class="btn" type="submit"
                                   style="background-color: #662A0C; color: white;">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>