<main>
    <div class="container promo-container mb-5">
        <div class="d-flex flex-column align-items-center">
            <div class="heading-page p-2 mt-4">
                <h2 class="text-uppercase fw-medium text-center"><b style="color:#662A0C">Data Kategori</b></h2>
            </div>
            <div class="breadcrumb p-2">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{site_url('/')}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Data Kategori</li>
                    </ol>
                </nav>
            </div>
        </div>
                    
        <div class="row justify-content-center mb-4">
            <label for="kategori_id" class="col-sm-2 col-form-label">ID Kategori</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="id_kategori">
        </div>
        </div>

        <div class="row justify-content-center mb-4">
            <label for="kode_kategori" class="col-sm-2 col-form-label">Kode Kategori</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="kode_kategori">
        </div>
        </div>

        <div class="row justify-content-center mb-4">
            <label for="nama_kategori" class="col-sm-2 col-form-label">Nama Kategori</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="nama_kategori">
        </div>
        </div>

        <div class="row justify-content-center mb-4">
            <label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-5">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Active</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input bs-theme-emphasis" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Inactive</label>
              </div>
        </div>
        </div>

        <div class="row justify-content-center mb-4">
            <label for="created" class="col-sm-2 col-form-label">Created</label>
            <div class="col-sm-5">
                <input type="datetime-local" class="form-control" id="created">
            </div>
        </div>

        <div class="row justify-content-center mb-4">
            <label for="modified" class="col-sm-2 col-form-label">Modified</label>
            <div class="col-sm-5">
                <input type="datetime-local" class="form-control" id="modified">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-5 d-grid gap-2 mx-auto">
                <button type="button" class="btn" style="background-color: #662A0C; color: aliceblue;" >Submit</button>                      
            </div>
        </div>            
            
        </div>     
    </div>
    <div class="d-flex justify-content-end section-cs">
        <span class="customer-service p-3">
            <a href="https://wa.me/6287839295999?text=Silahkan Tanyakan Ke Admin Seputar Produk Kenes & Bakery ya." class="" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Whatsapp"><i class="fa-brands fa-whatsapp fa-lg"></i></a>
        </span>
    </div>
</main>