<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">
                <i class="{$current_page.nav_icon}"></i>
                <span>{$current_page.nav_title}</span>
            </h4>
        </div> 

</div> 

<div class="container promotions-container mb-5">
    <div class="d-flex flex-column align-items-center">
        <div class="heading-page p-2 mt-4">
            <h2 class="text-uppercase fw-medium text-center"><b style="color:#662A0C">Detail User</b></h2>
        </div>
    </div>
</div>

        <style>
.custom-card {
    margin-bottom: 20px; /* Adjust the margin as needed to control the spacing */
}
</style>

<div class="row justify-content-center mb-4">
<div class="mt-4col-md-6">
<div class="card custom-card" style="width: 380px; height: auto;">
<img src="{$BASEURL}/resource/assets/images/user/{$roles->user_photo}" alt="product-kenes" class="img-fluid rounded-2 product-kenes" style="width: 100%; height: auto;">
<div class="card-body">
    <p class="card-text"></p>
</div>
</div>    
</div>
<div class="col-md-6">
<div class="card custom-card">
<div class="form-group">
    <label for="promotion_code" class="col-sm-6 control-label">Username :</label>
    <div class="col-sm-4">
        <p class="form-control-static">{$roles->user_name}</p>
    </div>
</div>
<div class="form-group">
    <label for="promotion_code" class="col-sm-6 control-label">Nama Lengkap :</label>
    <div class="col-sm-4">
        <p class="form-control-static">{$roles->user_alias}</p>
    </div>
</div>
<div class="form-group">
    <label for="user_st" class="col-sm-6 control-label">Role :</label>
    <div class="col-sm-4">
        <p class="form-control-static">{if {$roles->user_st} == 0}Active{else}Inactive{/if}</p>
    </div>
</div>
<div class="form-group">
    <label for="user_email" class="col-sm-6 control-label">Email :</label>
    <div class="col-sm-4">
        <p class="form-control-static">{$roles->user_email}</p>
    </div>
</div>
</div>
</div>
</div>
</div>