
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">
                    <i class="{$current_page.nav_icon}"></i>
                    <span>{$current_page.nav_title}</span>
                </h4>
            </div>
            <div class="d-flex align-items-center">
                <div class="btn-group" role="group">
                    {if $allowed.create}
                    <a class="btn btn-md btn-outline-primary" href="{site_url([$current_page.nav_url, 'add'])}"><i class="fa-solid fa-circle-plus"></i> Tambah</a>
                    {/if}
                    <!-- Tambahkan tautan atau tombol lain di sini -->
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="datatable" class="table data-tables table-striped">
                    <thead>
                        <tr class="light">
                                
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Product Price</th>
                            <th>Product Qty</th>

                            
                        </tr>
                    </thead>
                    <tbody>
                    
                        {foreach from=$purchase key=key item=p}
                        <tr>
                           
                            <td >{$p->product_id}</td>
                            <td >{$p->product_name}</td>
                            <td >{$p->product_price}</td>
                            <td >{$p->product_qty}</td>
                            
                            
                        </tr>
                        {/foreach}
                      
                        <!-- Add more rows with data and actions as needed -->
                        </tbody>
    
                <!-- Add more rows with data and actions as needed -->
                    </tbody>
                </table>
            </div>
        </div>
  
    </div>
    
