<div class="card">
	<div class="card-header d-flex justify-content-between">
		<div class="header-title">
			<h4 class="card-title">
                <i class="{$current_page.nav_icon}"></i>
                <span>{$current_page.nav_title}</span>
            </h4>
		</div>
        <div class="d-flex align-items-center">
            <div class="btn-group" role="group">
                {if $allowed.create}
                    <a class="btn btn-md btn-outline-primary" href="{site_url([$current_page.nav_url, 'add'])}"><i class="fa-solid fa-circle-plus"></i> Tambah</a>
                {/if}
            </div>
          </div>
	</div>
	<div class="card-body">
        <div class="table-responsive text-center">
            <table id="datatable" class="table data-tables table-striped">
                <thead>
                    <tr class="light">
                        <th>No</th>
                        <th>Job Name</th>
                        <th>Tanggal </th>
                        <th>Detail </th>
                    </tr>
                </thead>
                <tbody>
                    {$no = 1}
                    {foreach from=$job key=key item=jobs}
                    <tr>
                        <td align="center">{$no++}</td>
                        <td>{$jobs.job_name}</td>
                        <td>{$jobs.job_date}</td>
                       
                        <td align="center">
                            <a class="btn btn-sm btn-outline-info rounded" data-toggle="tooltip" data-placement="top" title="" data-original-title="View" href="{site_url([$current_page.nav_url, 'detail', {$jobs.job_id}])}"><i class="fa-regular fa-file"></i></a>
                            {if $allowed.edit}
                                <a class="btn btn-sm btn-outline-secondary rounded" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="{site_url([$current_page.nav_url, 'edit', {$jobs.job_id}])}"><i class="fa-regular fa-pen-to-square"></i></a>
                            {/if}
                            {if $allowed.delete}
                            <a class="btn btn-sm btn-outline-danger rounded" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="{site_url([$current_page.nav_url, 'delete', {$jobs.job_id}])}"><i class="fa-solid fa-trash"></i></a>
                            {/if}
                        </td>
                    </tr> 
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>